[submodule "FEX"]
	path = FEX
	url = https://github.com/s0nance/FEX.git
	branch = ios-port-2607
[submodule "wine"]
	path = wine
	url = https://github.com/s0nance/wine.git
	branch = ios-build
[submodule "research/dxmt"]
	path = research/dxmt
	url = https://github.com/s0nance/dxmt.git
	branch = ios-port
